<h1> <%= @cat.name %></h1>

<table>
  <tr>
    <th>Color</th>
    <th>Age</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>

  <tr>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.age %> </td>
    <td> <%= @cat.sex %> </td>
    <td> <%= @cat.description %> </td>
  </tr>
</table>

<h2> Cat Rentals! </h2>

<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
  </tr>

  <tr>
    <td> <%= @cat.cat_rental_requests.first.start_date %> </td>
    <td> <%= @cat.cat_rental_requests.first.end_date %> </td>
    <td> <%= @cat.cat_rental_requests.first.status %> </td>
  </tr>
</table>
